@import "../../../styles/main";

.currency-converter {
  display: flex;
  flex-direction: column;
  @include basic-shadow;
  @include component-base-style;

  .converter-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &.info {
      flex-direction: column;
      text-align: center;
    }

    .button {
      width: 200px;
    }

    &.currency-to-crypto {
      .currency-name {
        order: 1;
      }

      .cryptocurrency-name {
        order: -1;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
